.page-panier a {
	text-decoration: none;
}

.line-middle {
	height: 1px;
	background-color: var(--light-green);
}

.steps-cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	padding: 0 3rem;	
}

.step-cart {
	position: relative;
}

.step-cart p:first-of-type {
	position: absolute;
	left: -100%;
	font-weight: 500;
}

.img-item {
	max-width: 100px;
}

.d-flex.gutter-2 {
	gap: 1rem;
}

.d-flex.gutter-5 {
	gap: 3rem;
}

.cart-items {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	column-gap: 3rem;
	background-color: var(--bs-gray-100);
	border-radius: 0.5rem;
	padding: 0.5rem;
	box-shadow: 2px 2px 10px var(--bs-gray-300);
}

.cart-item .title-cart-item {
	font-weight: 500;
	margin-bottom: 0.9rem;
}

.cart-item .cart-quantity {
	border: solid var(--light-gray) 1px;
	padding: 0.25rem 0.75rem;
	background-color: white;
	border-radius: 6px;
}

.cart-item .card-item, .cart-item .cart-item-head {
	display: flex;
	gap: 0 1rem;
	align-items: center;
}

.cart-item a {
	color: var(--dark-gray);
}

.cart-actions {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.cart-item-aside {
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-content: center;
}

.cart-item-aside a{
    color: black;
}

.cart-item-aside-price {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.icon-trash::before {
	content: "";
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url("trash.svg");
	background-size: contain;
}

.form-container {
  font-size: 14px;
  position: relative;
	border-top: 1rem solid transparent;
	margin-bottom: 2rem;
}

.form-container input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.75rem;
  border-radius: 3px;
  font-size: 0.875rem;
	outline: none;
	border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, var(--bs-gray-500), var(--bs-gray-500)) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, var(--bs-gray-300), var(--bs-gray-300)) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, white, white) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.form-container .placeholder-input {
  position: absolute;
  left: 12px;
  top: 22px;  
  transform: translateY(-50%);
  width: calc(100% - 24px);  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.form-container input:focus + .placeholder-input,
.form-container input:not(:placeholder-shown) + .placeholder-input {
  top: -10px;
  font-size: 10px;
  color: black;
}

.form-container input.dirty,
.form-container input:not(:placeholder-shown),
.form-container input:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.aside-panel-cart, .aside-panel-paiement, .aside-panel-livraison {
	background-color: var(--light-green);
	height: 100%;
	border-radius: 5rem 0.75rem;
	box-shadow: -3px 3px 10px var(--bs-gray-500);
	display: flex;
	flex-direction: column;
	padding: 3rem;
}

.aside-panel-cart {
	align-items: start;
	justify-content: end;
}

.aside-panel-paiement {
	align-items: start;
	justify-content: space-between;
}

.aside-panel-livraison {
	align-items: center;
	gap: 2rem;
}

.offset-img {
	position: relative;
	bottom: 0;
	left: -30%;
	bottom: -10%;
	max-height: 50%;
	filter: drop-shadow(0 0 4px var(--bs-gray-900));
}

.relais-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bs-gray-100);
	padding: 1rem;
	border-radius: 1rem;
}

.relais-item li:first-of-type {
	font-weight: 500;
}

.delivery-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.relais-collection {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.delivery-choice {
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 992px) {
	.aside-panel-paiement, .aside-panel-livraison {
		box-shadow: none;
		border-radius: 1rem;
		text-align: center;
		margin: 0 auto;
	}
	
	.aside-panel-paiement {
		padding: 0.5rem;
	}

	.aside-panel-livraison {
		padding: 0.75rem;
		gap: 1.5rem;
	}
	
	.aside-panel-paiement article {
			margin: 0 auto;
		}
	
		.aside-panel-paiement p {
			margin-bottom: 0;
		}
}

@media screen and (max-width: 767px) {
	.cart-items .cart-item  {
		flex-direction: column;
		gap: 1rem 0;
	}
	
	.cart-item-aside-price {
		flex-direction: row;
		justify-content: space-between;
	}

	.cart-item-aside {
		justify-content: space-around;
	}
	
	.cart-actions {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	
	.secondary-btn, .validation-btn {
		display: block;
        color: white;
	}
	
	.step-cart p:first-of-type {
		font-size: 0.75rem;
	}
	
	.aside-panel-paiement {
		font-size: 0.75rem;
	}

	.relais-item .primary-btn {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 320px) {
	.delivery-choice {
		flex-direction: column;
	}
}