#about {
	text-align: center;
	padding: 64px 256px;
	background-color: var(--light-cream);
}

#about svg,
#about h2 {
	margin-bottom: 2rem;
}

#about .shop-button {
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	#about {
		padding: 64px 32px;
	}
}
