.main-button {
	appearance: none;
	background-color: var(--dark-green);
	text-decoration: none;
	display: flex;
	width: fit-content;
	gap: 15px;
	align-items: center;
	padding: 12px 24px;
	border-radius: 12px;
	color: white;
	transition: 0.3s all;
}

.main-button:hover {
	background-color: var(--light-green);
}

.main-button.cream {
	color: var(--dark-green);
	background-color: var(--light-cream);
}

.main-button.cream svg {
	fill: var(--dark-green);
}

.main-button.cream:hover {
	background-color: var(--cream);
}

.secondary-btn {
	background-color: white;
	font-weight: 500;
	border: 1px solid black;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	transition: background-color 0.3s ease;
}

.secondary-btn:hover {
	background-color: var(--bs-gray-300);
}

.validation-btn {
	display: block;
	background-color: var(--light-green);
	color: white;
	font-weight: 500;
	border: 1px solid var(--light-green);
	padding: 0.5rem 1rem;
	border-radius: 50rem;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.validation-btn:hover {
	background-color: var(--bs-gray-200);
	color: black;
}

.favoris-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--corail);
	border-radius: 16px;
	padding: 12px;
	transition: 0.3s all;
}

.favoris-button:hover {
	background-color: var(--dark-corail);
}
