.shop-button {
	background-color: var(--light-green);
	text-decoration: none;
	display: flex;
	width: fit-content;
	gap: 15px;
	align-items: center;
	padding: 12px 24px;
	border-radius: 12px;
	color: white;
	transition: 0.3s all;
}

.shop-button:hover {
	background-color: var(--dark-green);
}

.secondary-btn {
	background-color: white;
	font-weight: 500;
	border: 1px solid black;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	transition: background-color 0.3s ease;
}

.secondary-btn:hover {
	background-color: var(--bs-gray-300);
}

.validation-btn {
	background-color: var(--light-green);
	color: white;
	font-weight: 500;
	border: 1px solid var(--light-green);
	padding: 0.5rem 3rem;
	border-radius: 50rem;
	transition: 
		color 0.3s ease,
		background-color 0.3s ease;
}

.validation-btn:hover {
	background-color: var(--bs-gray-200);
	color: black;
}
