.custom-link {
	position: relative;
	text-decoration: none;
	color: var(--dark-gray);
	overflow: hidden;
	display: block;
	transition: 0.3s all;
}

.custom-link.no-after::after {
	display: none;
}

.custom-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	height: 1px;
	background-color: var(--dark-gray);
	transform: translateX(-101%);
	transition: 0.3s all;
}

.custom-link:hover::after {
	transform: translateX(0%);
}

.custom-link.custom-link.dark-gray {
	color: var(--dark-gray);
}

.custom-link.dark-gray::after {
	background-color: var(--dark-gray);
}

.custom-link.custom-link.light-cream {
	color: var(--light-cream);
}

.custom-link.light-cream::after {
	background-color: var(--light-cream);
}
