#navbar {
	position: relative;
	padding: 16px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	z-index: 9999;
}

#navbar #navbar-brand {
	text-align: center;
	width: fit-content;
}

#navbar button {
	display: none;
	appearance: none;
	border: none;
	background: transparent;
}

#navbar #navbar-brand img {
	width: 10%;
}

#navbar ul {
	padding: 16px 0;
	border-top: 1px solid var(--dark-green);
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 32px;
	min-width: 40%;
	transition: 0.3s all;
}

.light-cream #navbar ul {
	border-top: 1px solid var(--light-cream);
}

.light-cream #navbar svg {
	fill: var(--light-cream);
	stroke: var(--light-cream);
}

#navbar ul li a {
	text-transform: uppercase;
}

@media screen and (max-width: 767px) {
	#navbar {
		flex-direction: row;
	}

	#navbar #navbar-brand {
		width: 50%;
	}

	#navbar #navbar-brand img {
		width: 40%;
	}

	#navbar button {
		display: unset;
		width: 50%;
	}

	#navbar ul {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		flex-direction: column;
		transform: scaleY(0);
		transform-origin: 50% 0;
		background-color: var(--dark-green);
		margin: 0;
	}

	#navbar ul.show {
		transform: scaleY(1);
	}
}
