#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	z-index: 9999;
	transition: 0.3s all;
}

#navbar.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--white);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	padding: 0;
}

#navbar #navbar-brand {
	text-align: center;
	width: fit-content;
	transition: 0.3s all;
}

#navbar.fixed #navbar-brand {
	position: absolute;
	top: 0;
	transform: scaleY(0);
	transform-origin: 50% 0;
}

#navbar button {
	display: none;
	appearance: none;
	border: none;
	background: transparent;
}

#navbar #navbar-brand img {
	width: 10%;
}

#navbar ul {
	padding: 16px 0;
	border-top: 1px solid var(--dark-green);
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 32px;
	min-width: 40%;
	transition: 0.3s all;
}

#navbar.fixed ul {
	border-top: none;
	margin-top: 0;
}

#navbar ul li {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar svg {
	fill: var(--black);
	stroke: var(--dark-green);
}

#navbar.white ul {
	border-top: 1px solid var(--white);
}

#navbar.white svg {
	fill: var(--white);
	stroke: var(--white);
}

#navbar.white .custom-link.white {
	color: var(--white);
}

#navbar.white .white::after {
	background-color: var(--white);
}

#navbar.white.fixed .custom-link.white {
	color: var(--dark-green);
}

#navbar.white.fixed .white::after {
	background-color: var(--dark-green);
}

#navbar.white.fixed svg {
	fill: var(--dark-green);
	stroke: var(--dark-green);
}

#navbar ul li a {
	text-transform: uppercase;
}

@media screen and (max-width: 767px) {
	#navbar {
		flex-direction: row;
		background-color: var(--white);
	}

	#navbar:not(.fixed).no-background {
		background-color: transparent;
	}

	#navbar.fixed {
		padding: 16px 0;
	}

	#navbar #navbar-brand {
		width: 50%;
	}

	#navbar #navbar-brand img {
		width: 100px;
	}

	#navbar button {
		display: unset;
		width: 50%;
	}

	#navbar.white.fixed svg {
		fill: var(--white);
		stroke: var(--light-gray);
	}

	#navbar ul {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;

		border-top: 0;

		transform: scaleY(0);
		transform-origin: 50% 0;
		background-color: var(--white);
		color: var(--dark-green);
		margin: 0;
		row-gap: 32px;
		column-gap: 0;
	}

	#navbar ul .custom-link {
		color: var(--dark-green);
	}

	#navbar ul .custom-link svg {
		fill: var(--dark-green);
	}

	#navbar ul li {
		width: 100%;
		text-align: center;
	}

	#navbar ul li:nth-child(n + 5) {
		width: 50%;
	}

	#navbar ul.show {
		transform: scaleY(1);
	}

	#navbar.fixed #navbar-brand {
		transform: scaleY(1);
		position: relative;
	}
}
