#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px 32px;
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;
	z-index: 9999;
	transition: 0.3s all;
}

#navbar.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--white);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	justify-content: space-between;
}

#navbar #navbar-brand {
	text-align: center;
	width: fit-content;
	transition: 0.3s all;
}

#navbar button {
	display: none;
	appearance: none;
	border: none;
	background: transparent;
}

#navbar #navbar-brand img {
	width: 10%;
}

#navbar ul:not(.dropdown) {
	padding: 16px 0;
	border-top: 1px solid var(--dark-green);
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 32px;
	min-width: 40%;
	transition: 0.3s all;
}

#navbar.fixed ul:not(.dropdown) {
	border-top: none;
	margin-top: 0;
	width: 60%;
}

#navbar.fixed ul li:nth-child(5) {
	margin-left: auto;
}

#navbar ul:not(.dropdown) li:last-child a {
	font-size: 20px;
}

#navbar ul:not(.dropdown) li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar svg {
	fill: var(--black);
	stroke: var(--dark-green);
}

#navbar.white ul:not(.dropdown) {
	border-top: 1px solid var(--white);
}

#navbar.white svg {
	fill: var(--white);
	stroke: var(--white);
}

#navbar.white .custom-link.white {
	color: var(--white);
}

#navbar.white .white::after {
	background-color: var(--white);
}

#navbar.white.fixed .custom-link.white {
	color: var(--dark-gray);
}

#navbar.white.fixed .white::after {
	background-color: var(--dark-gray);
}

#navbar.white.fixed svg {
	fill: var(--dark-green);
	stroke: var(--dark-green);
}

#navbar ul:not(.dropdown) li a {
	text-transform: uppercase;
	color: var(--dark-gray);
}

#navbar ul:not(.dropdown) li.dropdown ul {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--white);
	padding: 8px 0;
	margin-top: 0;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	transform: scaleY(0);
	border-top: none;
	transform-origin: 50% 0;
	width: fit-content;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transition: 0.3s all;
}

#navbar ul:not(.dropdown) li.dropdown:hover ul {
	transform: scaleY(1);
}

#navbar ul:not(.dropdown) li.dropdown ul li a {
	color: var(--dark-gray);
	text-decoration: none;
	font-size: 16px;
	font-weight: 200;
}

#navbar ul:not(.dropdown) li ul li {
	padding: 8px 18px;
}

#navbar.fixed ul:not(.dropdown) li a {
	color: var(--dark-gray);
}

@media screen and (max-width: 991px) {
	#navbar.fixed ul:not(.dropdown) {
		width: 77%;
	}
}

@media screen and (min-width: 768px) {
	#navbar.fixed #navbar-brand {
		width: 10%;
	}

	#navbar.fixed #navbar-brand img {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	#navbar {
		flex-direction: row;
		background-color: var(--white);
	}

	#navbar:not(.fixed).no-background {
		background-color: transparent;
	}

	#navbar:not(.fixed).no-background .custom-link.white {
		color: var(--dark-gray);
	}
	#navbar:not(.fixed).no-background .white::after {
		background-color: var(--dark-gray);
	}

	#navbar:not(.fixed).no-background {
		padding: 16px 0;
	}

	#navbar #navbar-brand {
		width: 50%;
	}

	#navbar #navbar-brand img {
		width: 100px;
	}

	#navbar button {
		display: unset;
		width: 50%;
	}

	#navbar.white.fixed svg {
		fill: var(--white);
		stroke: var(--light-gray);
	}

	#navbar ul:not(.dropdown) {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;

		border-top: 0;

		transform: scaleY(0);
		transform-origin: 50% 0;
		background-color: var(--white);
		color: var(--dark-green);
		margin: 0;
		row-gap: 32px;
		column-gap: 0;
	}

	#navbar.fixed ul:not(.dropdown) {
		width: 100%;
	}

	#navbar ul:not(.dropdown) .custom-link {
		color: var(--dark-green);
	}

	#navbar ul:not(.dropdown) .custom-link svg {
		fill: var(--dark-green);
	}

	#navbar ul:not(.dropdown) li {
		width: 100%;
		text-align: center;
	}

	#navbar ul:not(.dropdown) li:nth-child(n + 5) {
		width: 33%;
	}

	#navbar ul:not(.dropdown).show {
		transform: scaleY(1);
	}

	#navbar.fixed #navbar-brand {
		transform: scaleY(1);
		position: relative;
	}
}
