{% extends "layout.html.twig" %}

{% block title %}À propos - Emma Pierre{% endblock %}

{% block content %}

    <header class="light-cream about padding-navbar">
        <article class="container" data-aos="fade-right" data-aos-duration="1500">
            <h1>Notre histoire</h1>
        </article>
    </header>

    <main>
        <section class="container" id="about-me">
            <aside>
                <article>
                    <h2>Emma</h2>
                </article>
            </aside>
            <article>
                <h2>
                    Qui est Emma ?
                </h2>
                <p>
                    J'ai nommé ma société en combinant le diminutif de mon prénom avec ma passion pour les pierres
                    ornementales. Je crée des
                    bijoux pour que chaque femme puisse avoir accès à des gemmes telles que le saphir, l'émeraude ou la
                    tourmaline, à un prix abordable.
                </p>
                <p>
                    Notre entreprise a été fondée avec une passion pour la création de bijoux uniques et de haute
                    qualité qui sont à la fois
                    élégants et intemporels. Nous sommes fiers de notre artisanat, et chaque pièce de notre collection
                    est faite à la main
                    avec soin et attention aux détails.
                </p>
            </article>
        </section>
        <section id="about-page" class="container">
            <h2>Qui est Pierre ?</h2>
            <p>
                Tous mes bijoux sont fabriqués à la main dans mon atelier lyonnais en éditions limitées
                pour plus
                d'exclusivité. En choisissant l'artisanat, vous contribuez à maintenir notre savoir-faire et l'emploi en
                France. Les
                colliers et bracelets ont une longueur standard, mais vous pouvez choisir une longueur spécifique sans
                frais
                supplémentaire. Pour plus d'harmonie, nous ajustons la dimension des pierres à la longueur de chaque
                modèle.
            </p>
            <ul>
                <li data-aos="fade-right" data-aos-duration="1000">
                    <img src="/assets/images/photos/pink_flower.png" alt="">
                    <article>
                        <h2>Précieuse</h2>
                        <p>
                            Nos boucles d'oreilles sont en éditions limitées, avec un stock réduit de perles pour plus
                            de
                            variété.
                        </p>
                        <p>
                            EMMA PIERRE nepeut garantir leur disponibilité dans le temps, alors ne manquez pas votre
                            coup de
                            cœur et achetez-les dès maintenant !
                        </p>
                    </article>
                </li>
                <li data-aos="fade-left">
                    <img src="/assets/images/photos/blue_flower.jpg" alt="">
                    <article>
                        <h2>Impertinente</h2>
                        <p>
                            Nos boucles d'oreilles sont en éditions limitées, avec un stock réduit de perles pour plus
                            de
                            variété.
                        </p>
                        <p>
                            EMMA PIERRE nepeut garantir leur disponibilité dans le temps, alors ne manquez pas votre
                            coup de
                            cœur et achetez-les dès maintenant !
                        </p>
                    </article>
                </li>
                <li data-aos="fade-right">
                    <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                    <article>
                        <h2>Unique</h2>
                        <p>
                            Nos boucles d'oreilles sont en éditions limitées, avec un stock réduit de perles pour plus
                            de
                            variété.
                        </p>
                        <p>
                            EMMA PIERRE nepeut garantir leur disponibilité dans le temps, alors ne manquez pas votre
                            coup de
                            cœur et achetez-les dès maintenant !
                        </p>
                    </article>
                </li>
                <li data-aos="fade-left">
                    <img src="/assets/images/photos/plant_gemstone.png" alt="">
                    <article>
                        <h2>Couleur</h2>
                        <p>
                            Nos boucles d'oreilles sont en éditions limitées, avec un stock réduit de perles pour plus
                            de
                            variété.
                        </p>
                        <p>
                            EMMA PIERRE nepeut garantir leur disponibilité dans le temps, alors ne manquez pas votre
                            coup de
                            cœur et achetez-les dès maintenant !
                        </p>
                    </article>
                </li>

            </ul>
            <a href="{{ path('app_products_index') }}" class="main-button">
                Voir nos produits
            </a>
        </section>
    </main>

{% endblock %}

