{% extends "layout.html.twig" %}

{% block title %}Blog - Emma Pierre{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/styles/layouts/blog.css">
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <main>
        <section id="liste-article">
            <h1>Nos articles</h1>
            <ul>
                <li>
                    <img src="/assets/images/photos/pink_flower.png" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>L'art de la joaillerie en pierres précieuses d'Inde</h2>
                    <p>Un aperçu de l'histoire riche et colorée de la joaillerie en Inde, avec un accent sur les pierres
                        précieuses uniques utilisées dans ces créations.</p>
                    <a href="">En savoir plus</a>
                </li>
                <li>
                    <img src="/assets/images/photos/blue_flower.jpg" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>L'art de la joaillerie en pierres précieuses d'Inde</h2>
                    <p>Un aperçu de l'histoire riche et colorée de la joaillerie en Inde, avec un accent sur les pierres
                        précieuses uniques utilisées dans ces créations.</p>
                    <a href="">En savoir plus</a>
                </li>
                <li>
                    <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>Comment les artisans utilisent les pierres précieuses pour créer des bijoux uniques</h2>
                    <p>Une exploration des techniques utilisées par les artisans pour créer des bijoux artisanaux avec
                        des
                        pierres précieuses, des méthodes traditionnelles aux innovations modernes.</p>
                    <a href="">En savoir plus</a>
                </li>
                <li>
                    <img src="/assets/images/photos/plant_gemstone.png" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>Les pierres précieuses éthiques dans l'artisanat de bijoux</h2>
                    <p>Un examen des pratiques éthiques de l'industrie de la bijouterie, avec un accent particulier sur
                        les
                        bijoux artisanaux créés à partir de pierres précieuses éthiques.</p>
                    <a href="">En savoir plus</a>
                </li>
                <li>
                    <img src="/assets/images/photos/pink_flower.png" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>L'art de la joaillerie en pierres précieuses d'Inde</h2>
                    <p>Un aperçu de l'histoire riche et colorée de la joaillerie en Inde, avec un accent sur les pierres
                        précieuses uniques utilisées dans ces créations.</p>
                    <a href="">En savoir plus</a>
                </li>
                <li>
                    <img src="/assets/images/photos/blue_flower.jpg" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>L'art de la joaillerie en pierres précieuses d'Inde</h2>
                    <p>Un aperçu de l'histoire riche et colorée de la joaillerie en Inde, avec un accent sur les pierres
                        précieuses uniques utilisées dans ces créations.</p>
                    <a href="">En savoir plus</a>
                </li>
                <li>
                    <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>Comment les artisans utilisent les pierres précieuses pour créer des bijoux uniques</h2>
                    <p>Une exploration des techniques utilisées par les artisans pour créer des bijoux artisanaux avec
                        des
                        pierres précieuses, des méthodes traditionnelles aux innovations modernes.</p>
                    <a href="">En savoir plus</a>
                </li>
                <li>
                    <img src="/assets/images/photos/plant_gemstone.png" alt="boucle oreille marron">
                    <p>12 janv. 2023</p>
                    <h2>Les pierres précieuses éthiques dans l'artisanat de bijoux</h2>
                    <p>Un examen des pratiques éthiques de l'industrie de la bijouterie, avec un accent particulier sur
                        les
                        bijoux artisanaux créés à partir de pierres précieuses éthiques.</p>
                    <a href="">En savoir plus</a>
                </li>
            </ul>
        </section>
        <section id="pagination">
            <img src="/assets/icons/arrow-back-rounded.svg" alt="flèche gauche">
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
            <img src="/assets/icons/arrow-forward-rounded.svg" alt="flèche droite">
        </section>
    </main>

{% endblock %}

