{% extends "layout.html.twig" %}

{% block title %}Contact - Emma Pierre{% endblock %}

{% block content %}

    <section class="contact-infos">
        <h1 data-aos="zoom-in" data-aos-duration="1500">Nous contacter</h1>

        <div class="blocs" data-aos="zoom-in" data-aos-duration="1500">
            <a class="bloc" href="tel:0606060606" target="_blank">
                <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M40.6253 45.8333C41.4541 45.8333 42.249 45.5041 42.835 44.918C43.4211 44.332 43.7503 43.5371 43.7503 42.7083V35.4167C43.7503 34.5879 43.4211 33.793 42.835 33.207C42.249 32.6209 41.4541 32.2917 40.6253 32.2917C38.1878 32.2917 35.792 31.9167 33.5003 31.1458C32.9524 30.9729 32.3676 30.9533 31.8094 31.0892C31.2511 31.2251 30.7408 31.5113 30.3337 31.9167L27.3337 34.9167C22.151 32.0882 17.8913 27.8285 15.0628 22.6458L18.042 19.6667C18.8962 18.8542 19.2087 17.6458 18.8337 16.4792C18.0837 14.2083 17.7087 11.8125 17.7087 9.375C17.7087 8.5462 17.3794 7.75134 16.7934 7.16529C16.2073 6.57924 15.4125 6.25 14.5837 6.25H7.29199C6.46319 6.25 5.66833 6.57924 5.08228 7.16529C4.49623 7.75134 4.16699 8.5462 4.16699 9.375C4.16699 29.4792 20.5212 45.8333 40.6253 45.8333ZM7.29199 8.33333H14.5837C14.8599 8.33333 15.1249 8.44308 15.3202 8.63843C15.5156 8.83378 15.6253 9.09873 15.6253 9.375C15.6253 12.0417 16.042 14.6458 16.8545 17.125C16.9587 17.4167 16.9378 17.8333 16.6045 18.1667L12.5003 22.25C15.9378 28.9792 20.9795 34.0208 27.7295 37.5L31.792 33.3958C32.0837 33.1042 32.4795 33.0208 32.8545 33.125C35.3545 33.9583 37.9587 34.375 40.6253 34.375C40.9016 34.375 41.1665 34.4847 41.3619 34.6801C41.5573 34.8754 41.667 35.1404 41.667 35.4167V42.7083C41.667 42.9846 41.5573 43.2496 41.3619 43.4449C41.1665 43.6403 40.9016 43.75 40.6253 43.75C21.667 43.75 6.25033 28.3333 6.25033 9.375C6.25033 9.09873 6.36007 8.83378 6.55542 8.63843C6.75077 8.44308 7.01573 8.33333 7.29199 8.33333Z" />
                </svg>
                <p>06 06 06 06 06</p>
            </a>
            <a class="bloc" href="mailto:contact@emma-pierre.fr" target="_blank">
                <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.417 10.4167H37.5003C39.1579 10.4167 40.7476 11.0752 41.9197 12.2473C43.0918 13.4194 43.7503 15.0091 43.7503 16.6667V35.4167C43.7503 37.0743 43.0918 38.664 41.9197 39.8361C40.7476 41.0082 39.1579 41.6667 37.5003 41.6667H10.417C8.75939 41.6667 7.16968 41.0082 5.99757 39.8361C4.82547 38.664 4.16699 37.0743 4.16699 35.4167V16.6667C4.16699 15.0091 4.82547 13.4194 5.99757 12.2473C7.16968 11.0752 8.75939 10.4167 10.417 10.4167ZM10.417 12.5C9.37533 12.5 8.45866 12.8542 7.75033 13.4792L23.9587 23.9584L40.167 13.4792C39.4587 12.8542 38.542 12.5 37.5003 12.5H10.417ZM23.9587 26.4792L6.52116 15.1667C6.35449 15.625 6.25033 16.1459 6.25033 16.6667V35.4167C6.25033 36.5218 6.68931 37.5816 7.47071 38.363C8.25212 39.1444 9.31192 39.5834 10.417 39.5834H37.5003C38.6054 39.5834 39.6652 39.1444 40.4466 38.363C41.228 37.5816 41.667 36.5218 41.667 35.4167V16.6667C41.667 16.1459 41.5628 15.625 41.3962 15.1667L23.9587 26.4792Z" />
                </svg>
                <p>contact@emma-pierre.fr</p>
            </a>
            <a class="bloc" href="https://www.instagram.com/emmapierrejewels/" target="_blank">
                <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M25 16.4062C23.3003 16.4062 21.6388 16.9103 20.2256 17.8546C18.8123 18.7989 17.7109 20.141 17.0604 21.7113C16.41 23.2816 16.2398 25.0095 16.5714 26.6766C16.903 28.3436 17.7214 29.8748 18.9233 31.0767C20.1252 32.2786 21.6564 33.097 23.3234 33.4286C24.9905 33.7602 26.7184 33.59 28.2887 32.9396C29.859 32.2891 31.2011 31.1877 32.1454 29.7744C33.0897 28.3612 33.5938 26.6997 33.5938 25C33.5912 22.7216 32.6849 20.5372 31.0738 18.9262C29.4628 17.3151 27.2784 16.4088 25 16.4062ZM25 32.0312C23.6094 32.0312 22.2499 31.6189 21.0936 30.8463C19.9374 30.0737 19.0361 28.9755 18.504 27.6907C17.9718 26.4059 17.8326 24.9922 18.1039 23.6283C18.3752 22.2643 19.0448 21.0115 20.0282 20.0282C21.0115 19.0448 22.2643 18.3752 23.6283 18.1039C24.9922 17.8326 26.4059 17.9718 27.6907 18.504C28.9755 19.0361 30.0737 19.9374 30.8463 21.0936C31.6189 22.2499 32.0312 23.6094 32.0312 25C32.0312 26.8648 31.2905 28.6532 29.9718 29.9718C28.6532 31.2905 26.8648 32.0312 25 32.0312ZM34.375 5.46875H15.625C12.9323 5.47185 10.3509 6.54288 8.44687 8.44687C6.54288 10.3509 5.47185 12.9323 5.46875 15.625V34.375C5.47185 37.0677 6.54288 39.6491 8.44687 41.5531C10.3509 43.4571 12.9323 44.5281 15.625 44.5312H34.375C37.0677 44.5281 39.6491 43.4571 41.5531 41.5531C43.4571 39.6491 44.5281 37.0677 44.5312 34.375V15.625C44.5281 12.9323 43.4571 10.3509 41.5531 8.44687C39.6491 6.54288 37.0677 5.47185 34.375 5.46875ZM42.9688 34.375C42.9662 36.6534 42.0599 38.8378 40.4488 40.4488C38.8378 42.0599 36.6534 42.9662 34.375 42.9688H15.625C13.3466 42.9662 11.1622 42.0599 9.55116 40.4488C7.94007 38.8378 7.03383 36.6534 7.03125 34.375V15.625C7.03383 13.3466 7.94007 11.1622 9.55116 9.55116C11.1622 7.94007 13.3466 7.03383 15.625 7.03125H34.375C36.6534 7.03383 38.8378 7.94007 40.4488 9.55116C42.0599 11.1622 42.9662 13.3466 42.9688 15.625V34.375ZM36.7188 14.8438C36.7188 15.1528 36.6271 15.4549 36.4554 15.7118C36.2837 15.9688 36.0397 16.1691 35.7542 16.2873C35.4687 16.4056 35.1545 16.4365 34.8514 16.3762C34.5483 16.3159 34.2699 16.1671 34.0514 15.9486C33.8329 15.7301 33.6841 15.4517 33.6238 15.1486C33.5635 14.8455 33.5944 14.5313 33.7127 14.2458C33.8309 13.9603 34.0312 13.7163 34.2882 13.5446C34.5451 13.3729 34.8472 13.2812 35.1562 13.2812C35.5707 13.2812 35.9681 13.4459 36.2611 13.7389C36.5541 14.0319 36.7188 14.4293 36.7188 14.8438Z" />
                </svg>
                <p>@emmapierrejewels</p>
            </a>
        </div>

        <form action="#" method="post" data-aos="zoom-in" data-aos-duration="1500">
            <div class="input-container-denomination">
                <div class="floating-label-group input-line input-nom">
                    <input type="text" id="nom" name="nom" required>
                    <label for="nom" class="floating-label">Nom</label>
                </div>
                <div class="floating-label-group input-line input-prenom">
                    <input type="text" id="prenom" name="prenom" required>
                    <label for="prenom" class="floating-label">Prénom</label>
                </div>
            </div>
            <div class="floating-label-group">
                <input type="email" id="email" name="email" required>
                <label for="email" class="floating-label">Email</label>
            </div>
            <div>
                <select name="email" id="email">
                    <option value="">Sujet</option>
                </select>
            </div>
            <div class="floating-label-group">
                <textarea id="message" name="message" required></textarea>
                <label for="message" class="floating-label">Message</label>
            </div>
            <button type="submit">Envoyer</button>
        </form>
    </section>

{% endblock %}