{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block content %}

<header class="light-cream padding-navbar">
    <article class="container" data-aos="fade-right" data-aos-duration="1500">
        <h1>Sublimée à la <br> française</h1>
        <p>
            lluminez votre look avec notre collection de colliers et bracelets pour femme fait main, conçue pour
            sublimer
            votre
            style et
            révéler votre élégance.
        </p>
        <a href="liste_produits.html" id="cta">
            <span>Découvrir</span>
            <svg width="30" height="30" viewBox="0 0 41 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M40.0607 13.0607C40.6464 12.4749 40.6464 11.5251 40.0607 10.9393L30.5147 1.3934C29.9289 0.807611 28.9792 0.807611 28.3934 1.3934C27.8076 1.97919 27.8076 2.92893 28.3934 3.51472L36.8787 12L28.3934 20.4853C27.8076 21.0711 27.8076 22.0208 28.3934 22.6066C28.9792 23.1924 29.9289 23.1924 30.5147 22.6066L40.0607 13.0607ZM0 13.5H39V10.5H0V13.5Z" />
            </svg>
        </a>
        <ul>
            <li>
                <a href="">Précieuses</a>
            </li>
            <li>
                <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
                </svg>
            </li>
            <li><a href="">Impertinentes</a></li>
            <li>
                <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
                </svg>
            </li>
            <li><a href="">Unique</a></li>
            <li>
                <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
                </svg>
            </li>
            <li><a href="">Couleur</a></li>

        </ul>
    </article>
</header>


<main>
    <section class="container" id="gallery-container">
        <h2 class="line" data-aos="fade-right">Nos bijoux</h2>
        <p data-aos="fade-right">
            Tous nos bijoux sont fabriqués à la main dans notre atelier lyonnais, en éditions limitées pour plus
            d’exclusivité,
            certains même en unique exemplaire, ils vous apporteront cette touche particulière qui vous rendra
            unique,
            chaque
            matière ayant été soigneusement sélectionnée. En choisissant l’artisanat, vous contribuez à maintenir
            notre
            savoir faire
            et l’emploi en France.
        </p>
        <article id="gallery" data-aos="zoom-in">
            <img src="/assets/images/photos/deux_colliers_bleues.jpeg" alt="colliers perles bleues">
            <div>Colliers</div>
            <img src="/assets/images/photos/plant_gemstone.png" alt="collier sur feuille">
            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="collier bleu et blanc">
            <div>Boucles d'oreilles</div>
            <img src="/assets/images/photos/collier_bleue.jpeg" alt="boucle d'oreille avec plumes">
            <img src="/assets/images/photos/boucles_bleues.jpg" alt="multitude de colliers et bracelets">
            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
            <div>Bracelets</div>
            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="3 bracelets bleus et blanc">
            <img src="/assets/images/photos/boucle_bleue.jpeg" alt="boucle d'oreille bleue">
        </article>
    </section>

    <section id="about">
        <h2 data-aos="fade-right">À propos de nous</h2>
        <svg data-aos="fade-right" width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
        </svg>
        <p data-aos="fade-right">
            Notre entreprise est née de la passion pour les bijoux et les pierres ornementales de notre fondatrice,
            qui a associé
            son diminutif à cette passion pour créer notre nom de société unique. Depuis l'enfance, notre fondatrice
            a été fascinée
            par la multitude de couleurs et d'éclats que les pierres précieuses peuvent offrir. Notre unique
            objectif est de vous
            aider à trouver la pierre qui s'accordera à votre humeur du jour ou de toujours, à un prix qui vous
            permettra de
            multiplier votre plaisir.
        </p>
        <a data-aos="fade-right" href="a-propos.html" class="main-button">En savoir plus</a>
    </section>
    <section class="container" id="featured-products">
        <h2 class="line" data-aos="fade-right">Produits à la une</h2>
        <div class="splide" data-aos="fade-right" role="group" aria-label="Splide Basic HTML Example"
            id="products-slider">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </section>
</main>

{% endblock %}