{% extends "layout.html.twig" %}

{% block title %}Livraison - Emma Pierre{% endblock %}

{% block content %}

    <main class="padding-navbar">
        <div class="container">
            <div class="row g-4 g-lg-0">
                <section class="col-12 col-lg-6 order-1 order-lg-1 d-none d-lg-block">
                    <div
                        class="col-12 col-lg-9 offset-0 offset-lg-3 aside-panel-livraison position-relative text-white">
                        <h5 class="text-white">Relais colis à proximité</h5>
                        <img src="/assets/images/photos/map%20relais%20colis.png" class="d-none d-lg-block" alt="gem">
                    </div>
                </section>
                <section class="col-12 col-lg-6">
                    <div class="d-flex flex-column gutter-5">
                        <ul class="steps-cart">
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.5" stroke="#1D5F6B" />
                                </svg>
                                <p>Panier</p>
                            </li>
                            <li class="col line-middle"></li>
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="8.5" stroke="#1D5F6B" stroke-width="3" />
                                    <circle cx="10" cy="10" r="3" fill="#1D5F6B" />
                                </svg>
                                <p>Livraison</p>
                            </li>
                            <li class="col line-middle"></li>
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.5" stroke="#1D5F6B" />
                                </svg>
                                <p>Paiement</p>
                            </li>
                            <li class="col line-middle"></li>
                            <li class="step-cart">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.5" stroke="#1D5F6B" />
                                </svg>
                                <p>Confirmation</p>
                            </li>
                        </ul>
                        <section class="delivery-form">
                            <h5>Adresse de livraison</h5>
                            <div class="delivery-choice">
                                <div class="radio-group">
                                    <input id="relais-colis" type="radio" name="delivery" value="relais-colis"
                                        checked />
                                    <label for="relais-colis">Livraison en point relais</label>
                                </div>
                                <div class="radio-group">
                                    <input id="home" type="radio" name="delivery" value="home" />
                                    <label for="home">Livraison chez moi</label>
                                </div>
                            </div>
                            <section class="d-block d-lg-none">
                                <div class="aside-panel-livraison">
                                    <h5 class="text-white">Relais colis à proximité</h5>
                                    <img src="/assets/images/photos/map%20relais%20colis.png" alt="gem">
                                </div>
                            </section>
                            <div class="relais-collection">
                                <article class="relais-item">
                                    <ul>
                                        <li>Lessive connect</li>
                                        <li>à 740 mètres</li>
                                    </ul>
                                    <a class="primary-btn" href="#">Choisir ce point relais</a>
                                </article>
                                <article class="relais-item">
                                    <ul>
                                        <li>KFE tolstoï</li>
                                        <li>à 950 mètres</li>
                                    </ul>
                                    <a class="primary-btn" href="#">Choisir ce point relais</a>
                                </article>
                            </div>
                        </section>
                        <form action="paiement.html">
                            <ul class="cart-actions">
                                <a href="panier.html" class="secondary-btn">Retour</a>
                                <button class="validation-btn">Valider mon adresse de livraison</button>
                            </ul>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>

{% endblock %}
