{% extends "layout.html.twig" %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="padding-navbar">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="d-flex flex-column align-items-center justify-content-center mb-3">Merci pour votre commande !</h2>
            <p>Votre commande a bien été enregistrée et est en cours de traitement. Nous vous enverrons un e-mail de confirmation dès que votre colis sera expédié.</p>
            <p>Numéro de commande : {{ reference }}</p>

            <p>Pour toute question ou demande d'assistance, n'hésitez pas à nous contacter via le formulaire de contact.</p>

            <p>Merci encore de votre confiance !</p>
           
        </div>
    </div>
</div>

{% endblock %}