<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
        content="Bijoux, pierres précieuses, colliers, bracelets, boucles d'oreilles, bijouterie, jewellery, gemstone, store, necklace, bangle, earring">
    <meta name="description"
        content="Explorez l'univers de la joaillerie de EmmaPierre. Découvrez notre collection de bijoux en pierres précieuses, alliant élégance et sophistication. Abonnez-vous pour ne rien manquer de nos dernières créations.">
    <meta name="author"
        content="Chloé Pisceri, Mathis Rome, Michael Yaromishyan, Arnaud Gouel, Loan Courchinoux-Billonnet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- Title & favicon -->
    
    {% block stylesheet %}
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/styles/style.css">
        <link rel="stylesheet" href="/assets/styles/splide/splide.min.css">
        <link rel="stylesheet" href="/assets/styles/aos/aos.css">
    {% endblock %}

    {% block javascript %}
        <!-- JS -->
        <script src="/assets/javascripts/splide/splide.min.js" defer></script>
        <script src="/assets/javascripts/aos/aos.js" defer></script>
        <script type="module" src="/assets/javascripts/index.js" defer></script>
    {% endblock %}
    
    <title>{% block title %}Accueil - Emma Pierre{% endblock %}</title>
</head>

<body>
  {% block navbar %}
    {% set isWhite = true %}
    {% set isWhite = overrideIsWhite is defined ? overrideIsWhite : isWhite %}
    {% include "navbar.html.twig" with {'white': isWhite} %}
  {% endblock %}
  {% block content %}
    <header class="light-cream padding-navbar">
      <article class="container" data-aos="fade-right" data-aos-duration="1500">
        <h1>Sublimée à la <br> française</h1>
        <p>
            lluminez votre look avec notre collection de colliers et bracelets pour femme fait main, conçue pour
            sublimer
            votre
            style et
            révéler votre élégance.
        </p>
        <a href="liste_produits.html" id="cta">
            <span>Découvrir</span>
            <svg width="30" height="30" viewBox="0 0 41 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M40.0607 13.0607C40.6464 12.4749 40.6464 11.5251 40.0607 10.9393L30.5147 1.3934C29.9289 0.807611 28.9792 0.807611 28.3934 1.3934C27.8076 1.97919 27.8076 2.92893 28.3934 3.51472L36.8787 12L28.3934 20.4853C27.8076 21.0711 27.8076 22.0208 28.3934 22.6066C28.9792 23.1924 29.9289 23.1924 30.5147 22.6066L40.0607 13.0607ZM0 13.5H39V10.5H0V13.5Z" />
            </svg>
        </a>
        <ul>
            <li>
                <a href="">Précieuses</a>
            </li>
            <li>
                <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
                </svg>
            </li>
            <li><a href="">Impertinentes</a></li>
            <li>
                <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
                </svg>
            </li>
            <li><a href="">Unique</a></li>
            <li>
                <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
                </svg>
            </li>
            <li><a href="">Couleur</a></li>
        </ul>
      </article>
    </header>


    <main>
      <section class="container" id="gallery-container">
        <h2 class="line" data-aos="fade-right">Nos bijoux</h2>
        <p data-aos="fade-right">
            Tous nos bijoux sont fabriqués à la main dans notre atelier lyonnais, en éditions limitées pour plus
            d’exclusivité,
            certains même en unique exemplaire, ils vous apporteront cette touche particulière qui vous rendra
            unique,
            chaque
            matière ayant été soigneusement sélectionnée. En choisissant l’artisanat, vous contribuez à maintenir
            notre
            savoir faire
            et l’emploi en France.
        </p>
        <article id="gallery" data-aos="zoom-in">
            <img src="/assets/images/photos/deux_colliers_bleues.jpeg" alt="colliers perles bleues">
            <div>Colliers</div>
            <img src="/assets/images/photos/plant_gemstone.png" alt="collier sur feuille">
            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="collier bleu et blanc">
            <div>Boucles d'oreilles</div>
            <img src="/assets/images/photos/collier_bleue.jpeg" alt="boucle d'oreille avec plumes">
            <img src="/assets/images/photos/boucles_bleues.jpg" alt="multitude de colliers et bracelets">
            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
            <div>Bracelets</div>
            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="3 bracelets bleus et blanc">
            <img src="/assets/images/photos/boucle_bleue.jpeg" alt="boucle d'oreille bleue">
        </article>
      </section>

      <section id="about">
        <h2 data-aos="fade-right">À propos de nous</h2>
        <svg data-aos="fade-right" width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
        </svg>
        <p data-aos="fade-right">
            Notre entreprise est née de la passion pour les bijoux et les pierres ornementales de notre fondatrice,
            qui a associé
            son diminutif à cette passion pour créer notre nom de société unique. Depuis l'enfance, notre fondatrice
            a été fascinée
            par la multitude de couleurs et d'éclats que les pierres précieuses peuvent offrir. Notre unique
            objectif est de vous
            aider à trouver la pierre qui s'accordera à votre humeur du jour ou de toujours, à un prix qui vous
            permettra de
            multiplier votre plaisir.
        </p>
        <a data-aos="fade-right" href="a-propos.html" class="main-button">En savoir plus</a>
      </section>
      <section class="container" id="featured-products">
        <h2 class="line" data-aos="fade-right">Produits à la une</h2>
        <div class="splide" data-aos="fade-right" role="group" aria-label="Splide Basic HTML Example"
            id="products-slider">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_oreille_marron.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/multitudes_de_bracelets.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/boucle_etoile.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="detail-produit.html">
                            <img src="/assets/images/photos/bracelets_bleu.jpeg" alt="">
                            <h2>Collier bleu</h2>
                            <h3>72,00 €</h3>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
      </section>
    </main>
  {% endblock %}
    

    {% block footer %}
      <footer>
        <img data-aos="fade-right" src="/assets/images/logos/emma-pierre-logo-blanc.png" alt="logo Emma Pierre blanc">
        <ul class="links" data-aos="fade-right">
          <li>
            <h2>Notre boutique</h2>
            <a href="liste_produits.html" class="custom-link white">
              Nos produits
            </a>
            <a href="a-propos.html" class="custom-link white">
              À propos
            </a>
            <a href="blog.html" class="custom-link white">
              Blog
            </a>
            <a href="contact.html" class="custom-link white">
              Contact
            </a>
          </li>
          <li>
            <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
              <path
              d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
            </svg>
          </li>
          <li>
            <h2>Notre entreprise</h2>
            
            <a href="" class="custom-link white">
              Politique de confidentitalité
            </a>
            <a href="" class="custom-link white">
              Condition d'utilisation
            </a>
            <a href="" class="custom-link white">Mentions légales</a>
            <span><a href="" class="custom-link white">CGV</a> - <a href="" class="custom-link white">CGU</a></span>
          </li>
          <li>
            <svg width="212" height="12" viewBox="0 0 212 12" xmlns="http://www.w3.org/2000/svg">
              <path
              d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM211.773 6L206 0.226497L200.227 6L206 11.7735L211.773 6ZM6 7H206V5H6V7Z" />
              </svg>
          </li>
          <li>
            <h2>Contact</h2>
            <a href="mailto:contact@emma-pierre.fr" class="custom-link white">
              contact@emma-pierre.fr
            </a>
            <a href="https://www.instagram.com/emmapierrejewels/?hl=fr" target="_blank">
              <svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M17.5 11.4844C16.3102 11.4844 15.1472 11.8372 14.1579 12.4982C13.1686 13.1592 12.3976 14.0987 11.9423 15.1979C11.487 16.2971 11.3678 17.5067 11.6 18.6736C11.8321 19.8405 12.405 20.9124 13.2463 21.7537C14.0876 22.595 15.1595 23.1679 16.3264 23.4C17.4933 23.6322 18.7029 23.513 19.8021 23.0577C20.9013 22.6024 21.8408 21.8314 22.5018 20.8421C23.1628 19.8528 23.5156 18.6898 23.5156 17.5C23.5138 15.9051 22.8794 14.3761 21.7517 13.2483C20.6239 12.1206 19.0949 11.4862 17.5 11.4844ZM17.5 22.4219C16.5265 22.4219 15.575 22.1332 14.7656 21.5924C13.9562 21.0516 13.3253 20.2829 12.9528 19.3835C12.5803 18.4842 12.4828 17.4945 12.6727 16.5398C12.8626 15.585 13.3314 14.708 14.0197 14.0197C14.708 13.3314 15.585 12.8626 16.5398 12.6727C17.4945 12.4828 18.4842 12.5803 19.3835 12.9528C20.2829 13.3253 21.0516 13.9562 21.5924 14.7656C22.1332 15.575 22.4219 16.5265 22.4219 17.5C22.4219 18.8054 21.9033 20.0573 20.9803 20.9803C20.0573 21.9033 18.8054 22.4219 17.5 22.4219ZM24.0625 3.82812H10.9375C9.05264 3.8303 7.24561 4.58001 5.91281 5.91281C4.58001 7.24561 3.8303 9.05264 3.82812 10.9375V24.0625C3.8303 25.9474 4.58001 27.7544 5.91281 29.0872C7.24561 30.42 9.05264 31.1697 10.9375 31.1719H24.0625C25.9474 31.1697 27.7544 30.42 29.0872 29.0872C30.42 27.7544 31.1697 25.9474 31.1719 24.0625V10.9375C31.1697 9.05264 30.42 7.24561 29.0872 5.91281C27.7544 4.58001 25.9474 3.8303 24.0625 3.82812ZM30.0781 24.0625C30.0763 25.6574 29.4419 27.1864 28.3142 28.3142C27.1864 29.4419 25.6574 30.0763 24.0625 30.0781H10.9375C9.34261 30.0763 7.81357 29.4419 6.68581 28.3142C5.55805 27.1864 4.92368 25.6574 4.92188 24.0625V10.9375C4.92368 9.34261 5.55805 7.81357 6.68581 6.68581C7.81357 5.55805 9.34261 4.92368 10.9375 4.92188H24.0625C25.6574 4.92368 27.1864 5.55805 28.3142 6.68581C29.4419 7.81357 30.0763 9.34261 30.0781 10.9375V24.0625ZM25.7031 10.3906C25.7031 10.6069 25.639 10.8184 25.5188 10.9983C25.3986 11.1781 25.2278 11.3183 25.0279 11.4011C24.8281 11.4839 24.6082 11.5056 24.396 11.4634C24.1838 11.4212 23.9889 11.317 23.836 11.164C23.683 11.0111 23.5788 10.8162 23.5366 10.604C23.4944 10.3918 23.5161 10.1719 23.5989 9.97206C23.6817 9.77221 23.8219 9.60139 24.0017 9.4812C24.1816 9.36102 24.3931 9.29688 24.6094 9.29688C24.8995 9.29688 25.1777 9.41211 25.3828 9.61723C25.5879 9.82235 25.7031 10.1005 25.7031 10.3906Z" />
                </svg>
              </a>
            </li>
          </ul>
        <p>© 2023 Emma PIERRE. All rights reserved.</p>
      </footer>
    {% endblock %}
  </body>
  
</html>