<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
        content="Bijoux, pierres précieuses, colliers, bracelets, boucles d'oreilles, bijouterie, jewellery, gemstone, store, necklace, bangle, earring">
    <meta name="description"
        content="{% block metaContent %}Explorez l'univers de la joaillerie de EmmaPierre. Découvrez notre collection de bijoux en pierres précieuses, alliant élégance et sophistication. Abonnez-vous pour ne rien manquer de nos dernières créations.{% endblock %}">
    <meta name="author"
        content="Chloé Pisceri, Mathis Rome, Michael Yaromishyan, Arnaud Gouel, Loan Courchinoux-Billonnet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- Title & favicon -->
    
    {% block stylesheet %}
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/styles/style.css">
        <link rel="stylesheet" href="/assets/styles/splide/splide.min.css">
        <link rel="stylesheet" href="/assets/styles/aos/aos.css">
    {% endblock %}

    {% block javascript %}
        <!-- JS -->
        <script src="/assets/javascripts/splide/splide.min.js" defer></script>
        <script src="/assets/javascripts/aos/aos.js" defer></script>
        <script type="module" src="/assets/javascripts/index.js" defer></script>
    {% endblock %}
    
    <title>{% block title %}Accueil - Emma Pierre{% endblock %}</title>
</head>

<body>
  {% block navbar %}
    {% set isWhite = true %}
    {% set isWhite = overrideIsWhite is defined ? overrideIsWhite : isWhite %}
    {% include "navbar.html.twig" with {'white': isWhite} %}
  {% endblock %}
  {% block content %}
    
  {% endblock %}
    

    {% block footer %}
      {% include "footer.html.twig" %}
    {% endblock %}
  </body>
  
</html>