@import url("./bootstrap.min.css");

@import url("./components/navbar.css");
@import url("./components/custom-link.css");
@import url("./components/buttons.css");
@import url("./components/header.css");
@import url("./layouts/detail-produit.css");

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-VariableFont_wght.ttf");
}

@font-face {
	font-family: "NotoSerif-Regular";
	src: url("../fonts/noto-serif/NotoSerif-Regular.ttf");
}

@font-face {
	font-family: "NotoSerif-Bold";
	src: url("../fonts/noto-serif/NotoSerif-Bold.ttf");
}

:root {
	--main-font: Jost;
	--second-font: NotoSerif-Regural;

	--dark-gray: #1d1923;
	--gray: #2e2b31;
	--light-gray: #3e3943;

	--dark-green: #11373f;
	--green: #18515c;
	--light-green: #1d5f6b;

	--dark-cream: #e9dbc1;
	--cream: #dccdb6;
	--light-cream: #f0e5d3;

	--white: #fff;
}

html,
body {
	color: var(--dark-gray);
	font-family: var(--main-font);
}

ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

img,
video {
	max-width: 100%;
	height: auto;
}

.padding-navbar {
	padding-top: 190px;
}

/*Footer  */
footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
	
}



footer ul li {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

footer ul li:nth-child(2){
	flex-direction: row;
	gap: 16px;
}

footer ul li:nth-child(2) div{
	display: flex;
	flex-direction: column;
}

footer a {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 767px) {

	footer ul li{
		width: 100%;
	}
	
}
/*Fin Footer */


@media screen and (max-width: 767px) {
	.padding-navbar {
		padding-top: 120px;
	}
}
