{% extends "layout.html.twig" %}

{% block title %}Se connecter - Emma Pierre{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/styles/layouts/contact.css">
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="contact-infos">
        <form name="login" action="/login" method="post">
            {% if display_errors %}
                <div class="mb-3 text-danger">
                    Votre email ou votre mot de passe est faux
                </div>
            {% endif %}
            <div class="floating-label-group">
                <input type="email" id="email" name="login[email]" required>
                <label for="email" class="floating-label">Email</label>
            </div>
            <div class="floating-label-group">
                <input type="password" id="password" name="login[password]" required>
                <label for="password" class="floating-label">Mot de passe</label>
            </div>
            <p>Pas de compte ? Inscrivez-vous en <a href="/registration">cliquant ici</a></p>
            <button type="submit">Se connecter</button>
        </form>
    </section>


{% endblock %}