{% extends "layout.html.twig" %}

{% block title %}S'inscrire - Emma Pierre{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/styles/layouts/contact.css">
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {% set overrideIsWhite = false %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <section class="contact-infos">
        <h1>S'inscrire</h1>
        <form name="registration" action="/registration" method="post">
            {% if display_errors %}
                <div class="mb-3 text-danger">
                    L'email renseigné est déjà utilisé
                </div>
            {% endif %}
            <div class="input-container-denomination">
                <div class="floating-label-group input-line input-prenom">
                    <input type="text" id="prenom" name="registration[firstname]" required>
                    <label for="prenom" class="floating-label">Prénom</label>
                </div>
                <div class="floating-label-group input-line input-nom">
                    <input type="text" id="nom" name="registration[lastname]" required>
                    <label for="nom" class="floating-label">Nom</label>
                </div>
            </div>
            <div class="floating-label-group">
                <input type="email" id="email" name="registration[email]" required>
                <label for="email" class="floating-label">Email</label>
            </div>
            <div class="floating-label-group">
                <input type="text" id="phone_number" name="registration[phone_number]" required>
                <label for="phone_number" class="floating-label">Téléphone</label>
            </div>
            <div class="floating-label-group">
                <input type="password" id="password" name="registration[password]" required>
                <label for="password" class="floating-label">Mot de passe</label>
            </div>
            <button type="submit">S'inscrire</button>
        </form>
    </section>

{% endblock %}