<h1>Client List</h1>



{% for client in clients %}
  <p>{{client.name}}</p>
  {% else %}
  <p>No clients found</p>
{% endfor %}

{% if clients.hasPreviousPage %}
  <a href="{{urlPreviousPage}}">Previous</a>
{% endif %}

{% if clients.hasNextPage %}
  <a href="{{urlNextPage}}">Next</a>
{% endif %}
